<div class='modal'>
  <div class='modal__wrapper'>
    <button class='modal__button' type='button' data-close>
      <svg
        class='modal__icon'
        width='30'
        height='30'
        viewBox='0 0 30 30'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d='M8 8L22 22' stroke-width='2'></path>
        <path d='M8 22L22 8' stroke-width='2'></path>
      </svg>
    </button>
    <article class='preview'>
      {{#if poster_path}}
        <img
          class='preview__images'
          src='https://image.tmdb.org/t/p/w500/{{poster_path}}'
          alt='{{title}}'
        />
      {{else}}
        <img
          class='preview__images'
          src='https://yt3.ggpht.com/AAKF_677TIvjFz_9xFF0R6PgiVd0kRpEtY6APSxSDRP65nXg8hkn9NFsz2bRd9_Z37DJ9D_b=s900-c-k-c0x00ffffff-no-rj'
          alt='{{title}}'
        />
      {{/if}}
      <div class='preview__wrapper'>
        <h2 class='preview__title'>{{title}}</h2>

        <!-- Film characteristics -->
        <ul class='preview__characteristics'>
          <li class='preview__point'>
            <p class='preview__property'>Vote / Votes</p>
            <span class='preview__value preview__value--accent'>{{vote_average}}</span>
            <span>/ </span>
            <span class='preview__value preview__value--gray'>{{vote_count}}</span>
          </li>
          <li class='preview__point'>
            <p class='preview__property'>Popularity</p>
            <span class='preview__value'>{{popularity}}</span>
          </li>
          <li class='preview__point'>
            <p class='preview__property'>Original Title</p>
            <span class='preview__value preview__value--uppercase'>{{original_title}}</span>
          </li>
          <li class='preview__point'>
            <p class='preview__property'>Genre</p>
            <span class='preview__value'>{{genres}}</span>
          </li>
        </ul>

        <!-- Film description -->
        <p class='preview__subtitle'>About</p>
        {{#if overview}}
          <p class='preview__description'>{{overview}}</p>
        {{else}}
          <p class='preview__description'>Unfortunately there is nothing here...😔</p>
        {{/if}}

        <!-- Button List -->
        <ul class='preview__list'>
          <li class='preview__item'>
            <button
              class='preview__button preview__button watched'
              data-id='{{id}}'
              type='button'
            >add to Watched</button>
          </li>
          <li class='preview__item'>
            <button class='preview__button queue' data-id='{{id}}' type='button'>add to queue</button>
          </li>
        </ul>
      </div>
    </article>
  </div>
</div>